@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', sans-serif;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #0e192b;
  color: white;
  box-shadow: 0px 10px 25px 0px black;
  
}

section:nth-child(odd){
  background: #142745;
}

/* Home Section */
.home div, .about div{
  width: 50%;
  display: flex;
  align-items: center;
}

.home-pic img{
  height: 75vh;
  margin-top: 32px;
}

.home-info div{
  align-items: flex-start;
  width: 90%;
}

.home-info h5{
  background-color: #1c2b4d;
  letter-spacing: 1px;
}

.home-text span{
  font-size: 1.5rem;
  line-height: 2rem;
  
}

.typed-cursor {
  font-size: 1.5rem;
}

.cv-btn {
  background-color: #357bf7;
}


.social-media{
  display: flex;
  width: 50%;
}

.social-media a:hover{
  transition: 0.5s;
}

.social-media a{
  transition: 0.5s;
}


.social-media img{
  width: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
  transition: 0.5s;
}

.social-media img:hover{
  box-shadow: 0 0 8px 0 white;
}

/* About Section */
.about-text-container h1{
  text-shadow: 0 0 3px black;
}

.about .home-pic img{
  box-shadow: 0px 10px 25px 0px black;

}

/* Education Section */
.edu > div{
  background-color: #1c2b4d;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  width: 75%;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
}

.edu > div:hover{
  box-shadow: 0px 10px 25px 0px black;
  transition: 0.5s;
}


.edu img{
  height: 25vh;
  border: 2px solid black;
  box-shadow: 0px 2px 5px 0px black;
}

.edu span{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem 0 2rem;

}

.edu span h1{
  font-size: 1.5rem;
  color: #3b82f6;
  font-weight: 500;
}

.edu h6{
  font-size: 14px;
  font-weight: 400;
}

.edu h3{
  font-size: 1rem;
  font-weight: 500;
}

.edu ul{
  list-style-type: disc;
  padding: 0 1rem 0 1rem;
}

.edu li{
  font-size: 14px;
  font-weight: 400;
}


/* Certifications */
.certs > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 75%;
}

.certs div div{
  background-color: white;
  padding: 1.5rem;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  transition: 0.5s;
}

.certs div div:hover{
  box-shadow: 0px 15px 25px 0px black;
  transition: 0.5s;
}

.certs img{
  height: 20vh;
}

.certs div h1{
  border-top: 2px solid black;
  padding: 8px 8px 0 8px;
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.certs div h6{
  text-align: center;
  font-size: 12px;
}








@media only screen and (max-width:1168px) {
  .home-info h1{
    font-size: 48px;
  }

  .home-info {
    padding-left: 1rem;
  }

  .edu span h1{
    font-size: 1.25rem;
  }

}

@media only screen and (max-width: 1024px) and (max-height:1400px){
  .home {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .home div{
    width: 100%;
    align-items: center;
  }
  .home-text{
    justify-content: center;
  }
  .home-text span{
    text-align: center;
    font-size: 24px;
  }

  .home h1{
    text-align: center;
  }

  .home-pic img{
    height: 45vh;
  }

  .social-media{
    width: 100%;
    justify-content: center;
  }

  .about{
    flex-direction:column-reverse;
    align-items: center;
  }

  .about div{
    width: 100%;
  }

  .about-text-container{
    padding: 0;
    padding-top: 2.5vh;
    padding-bottom: 5vh;
  }

  .about-text-container > span{
    padding-top: 2.5vh;
    font-size: 16px;

  }

  .about-text{
    width: 75%;
  }

  


  
  .edu{
    padding: 4vh 0 4vh 0;
  }
  
  .edu img{
    height: 25vh;
    width: 25vh;
  }
  .edu div div{
    display: flex;
    justify-content: center;
  }
  
  .edu span{
    padding: 0.5rem 0 0.5rem 0;
  }

  .edu > div{
    display: flex;
    flex-direction: column;
  }
  
  .edu span h1{
    font-size: 1.5rem;
    text-align: center;
  }
  
  .edu h6{
    text-align: center;
  }
  
  .edu h3{
    padding-top: 1vh;
  }



}

@media only screen and (max-width:480px) {
  .home-pic img{
    height: 360px;
  }

  .home-info{
    gap: 0.5rem;
  }

  .home-info h5{
    font-size: 8px;
    line-height: 16px;
  }

  .home-info h1{
    font-size: 38px;
  }

  .home-text span{
    font-size: 18px;
  }
  
}


