@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #0e192b;
  color: white;
  box-shadow: 0px 10px 25px 0px black;
}

section:nth-child(odd) {
  background: #142745;
}

/* Home Section */
.home div,
.about div {
  width: 50%;
  display: flex;
  align-items: center;
}

.home-pic img {
  height: 75vh;
  margin-top: 32px;
  animation: slide_up 1.5s ease;
}

@keyframes slide_up {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.home-info div {
  align-items: flex-start;
  width: 90%;
  animation: slide_right 1.5s ease;
}

@keyframes slide_right {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.home-info h5 {
  background-color: #1c2b4d;
  letter-spacing: 1px;
}

.home-text span {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* About Section */
.about-text-container h1 {
  text-shadow: 0 0 3px black;
}

.about .home-pic img {
  box-shadow: 0px 10px 25px 0px black;
}

/* Experience Section */
.exp {
  justify-content: flex-start;
  padding: 12vh 0;
}

.exp > div {
  background-color: #0e192b;
  padding: 1.5rem 2.5rem;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.5s;
}

.exp img {
  height: 25vh;
  border: 2px solid black;
  box-shadow: 0px 2px 5px 0px black;
}

.exp span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  width: 75%;
}

.exp span h1 {
  font-size: 1.5rem;
  color: #ffd726;
  font-weight: 500;
}

.exp h6 {
  font-size: 14px;
  font-weight: 200;
}

.exp h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #357bf7;
}

.exp ul {
  list-style-type: disc;
  padding: 0 1rem 0 1rem;
}

.exp li {
  font-size: 14px;
  font-weight: 400;
}

/* Education Section */
.edu > div {
  background-color: #1c2b4d;
  padding: 1.5rem 2.5rem;
  width: 75%;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
}

.edu img {
  height: 25vh;
  border: 2px solid black;
  box-shadow: 0px 2px 5px 0px black;
}

.edu span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}

.edu span h1 {
  font-size: 1.5rem;
  color: #ffd726;
  font-weight: 500;
}

.edu h6 {
  font-size: 14px;
  font-weight: 300;
}

.edu h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #357bf7;
}

.edu ul {
  list-style-type: disc;
  padding: 0 1rem 0 1rem;
}

.edu li {
  font-size: 14px;
  font-weight: 400;
}

/* Certifications */
.certs > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 75%;
}

.certs div div {
  background-color: #0e192b;
  padding: 1.5rem;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  transition: 0.5s;
}

.certs img {
  height: 20vh;
  background-color: white;
}

.certs div h1 {
  border-top: 2px solid white;
  padding: 8px 8px 0 8px;
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: #357bf7;
}

.certs div h6,
.projects div h6 {
  text-align: center;
  font-size: 12px;
  color: white;
}

/* Project Section */
.projects > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 85%;
}

.projects div > div {
  background-color: #1c2b4d;
  padding: 2.5rem;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 525px;
  transition: 0.5s;
}

.projects img {
  height: 35vh;
  width: 100%;
  border: white 2px solid;
  padding: 0.5rem;
  border-radius: 10px;
}

.projects div h1 {
  padding: 8px 8px 0 8px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffd726;
}

.projects div p {
  font-size: 14px;
  font-weight: 400;
  height: 75px;
}

.projects div div div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  height: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}

.projects a {
  background-color: #357bf7;
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  transition: 0.5s;
  width: 150px;
  text-align: center;
}

.projects a:hover {
  background-color: #60a5fa;
  transition: 0.5s;
}

/* Skills */
.skills > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
}

.skills > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills > div > div > div {
  background-color: #0e192b;
  width: 175px;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.skills img {
  height: 5px;
  border: 2px solid white;
  background-color: white;
  padding: 0.5rem;
  transition: 0.5s;
  margin: 1rem;

  height: 125px;

  border-radius: 10px;
}

.skills > div h1 {
  color: #ffd726;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
}

.skills > div h2 {
  color: white;
}

/* Contact */
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-container {
  display: flex;
  align-items: center;
}

.contact-container div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-media a:hover {
  transition: 0.5s;
}

.social-media a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;
  width: 50%;
  font-size: 1.2rem;
}

.social-media img {
  width: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
  transition: 0.5s;
}

.social-media img:hover {
  box-shadow: 0 0 8px 0 white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06090e;
  color: white;
  height: 10vh;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 1168px) {
  .home-info h1 {
    font-size: 48px;
  }

  .home-info {
    padding-left: 1rem;
  }

  .exp span h1,
  .edu span h1 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1400px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .home div {
    width: 100%;
    align-items: center;
  }
  .home-text {
    justify-content: center;
  }
  .home-text span {
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
  }

  .home h1 {
    text-align: center;
  }

  .home-pic img {
    height: 45vh;
  }

  .social-media {
    width: 100%;
    justify-content: center;
  }

  .about {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about div {
    width: 100%;
  }

  .about-text-container {
    padding: 0;
    padding-top: 2.5vh;
    padding-bottom: 5vh;
  }

  .about-text-container > span {
    padding-top: 2.5vh;
    font-size: 16px;
  }

  .about-text {
    width: 75%;
  }

  .edu,
  .exp {
    padding: 4vh 0;
  }

  .edu img,
  .exp img {
    height: 25vh;
    width: 25vh;
  }
  .edu div div,
  .exp div div {
    display: flex;
    justify-content: center;
  }

  .edu span,
  .exp span {
    padding: 0.5rem 0 0.5rem 0;
  }

  .edu > div {
    display: flex;
    flex-direction: column;
  }

  .exp > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .edu span h1,
  .exp span h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .edu h6,
  .exp h6 {
    text-align: center;
  }

  .edu h3,
  .exp h3 {
    padding-top: 1vh;
  }

  .projects img {
    height: 35vh;
  }

  .projects div > div {
    width: 80%;
  }

  .contact-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .social-media a {
    width: 100%;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .social-media img {
    width: 4rem;
  }
}

@media only screen and (max-width: 550px) {
  .projects a {
    font-size: 10px;
  }

  .projects img {
    height: 22.5vh;
  }

  .skills > div > h2 {
    font-size: 1.5rem;
  }
  .skills > div > div > div {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .home-pic img {
    height: 360px;
  }

  .home-info {
    gap: 0.5rem;
  }

  .home-info h5 {
    font-size: 8px;
    line-height: 16px;
  }

  .home-info h1 {
    font-size: 38px;
  }

  .home-text span {
    font-size: 18px;
  }

  .projects img {
    height: 25vh;
  }

  .projects div h1 {
    font-size: 1.25rem;
  }

  .projects div p {
    font-size: 10px;
  }

  .projects div div div {
    flex-direction: column;
    align-items: center;
  }

  .projects img {
    height: 15vh;
  }

  .contact-container {
    gap: 1.5rem;
  }

  .social-media a {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .social-media img {
    width: 2.5rem;
  }
}
